@model IEnumerable<SandlingMIS4200.Models.course>

@{
    ViewBag.Title = "Index";
}

<h2>Course Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditHours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creditHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseID })
        </td>
    </tr>
}

</table>
