@model SandlingMIS4200.Models.courseDetail

@{
    ViewBag.Title = "Details";
}

<h2>Course</h2>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.course.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructor.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructor.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.courseGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.courseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.coursedetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
