@model IEnumerable<SandlingMIS4200.Models.courseDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Course Detail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.course.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructor.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.course.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructor.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.coursedetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.coursedetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.coursedetailId })
        </td>
    </tr>
}

</table>
